body {
    font-family: arial, sans-serif;
    background-color: white;
    color: black;
}

main {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 3px 3px;
    margin: auto;
    text-align: center;
}

#description {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 5px;
}

#title {
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
    font-family: calibri;
}

#image {
   max-width: 100%;
   display: block;
   height: auto;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#img-caption {
    font-size: 14px;
    text-align: center;
}

h2 {
    font-size: 12px;
}
#subtitle {
    padding-top: 10px;
    font-size: 20px;
    font-family: calibri;
}
ul, #quote {
    display: block;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
    gap: 16px;
}
li {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: left;
}

li::before {
    content: '\2022';
    position: absolute;
    left: -8px;
}
#clair, #quote {
    margin-top:-15px;
    font-style: italic;
    background-color: white;
    border-radius: 8px;
    border-width: thin;
    border-align; auto;


}